{% extends "base.html" %}

{% block content %}
<div id="loading" onclick="location.href='{% url 'rank' %}'"></div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    // $.ajax({
    //     url: "{% url 'movieRank' %}",
    //     dataType: "json",
    //     success: function (data) {
    //         var apiTest = "";S
    //         for (var i = 0; i < data.length; i++) {
    //             apiTest += "<tr>"
    //             apiTest += "<td>" + data[i].pk + "</td>"
    //             apiTest += "<td>" + data[i].fields.input_lat + "</td>"
    //             apiTest += "<td>" + data[i].fields.input_lon + "</td>"
    //             apiTest += "<td>" + data[i].fields.input_user + "</td>"
    //             apiTest += "</tr>"
    //         }
    //         $('[id="apiTest"]').html(apiTest);
    //     },
    //     error: function (request, status, error) {
    //         console.log('실패');
    //     }
    // });

    // window.onload = function(){

    // }

</script>


{% endblock content %}


