{% extends "base.html" %}
{% load static %}

{% block content %}

    <head>
        <style>
            .back {float:left; width: 90px; height: 90px;}
            .wrap {text-align: center; padding: 10px 65px; font-size: 55px; font-family:나눔스퀘어_ac;}
            .line1 {width: 800px; height: 4px; text-align: center; background-color: rgb(255, 255, 255);}
            .day {font-size: 37px; text-align: center; margin: 10px 30px 30px;}
            .day.selected{
                font-size: 50px;
                font-weight: bold;
            }
            .data {
                font-family: 나눔스퀘어_ac; 
                width: 95%;
            }
            .movieList_button{
                background-color: white;
                border: 0;
            }
            .timetable{
                margin-left: 60px;
                margin-right: auto;
            }
            .movieList_empty{
                margin-top: 30%;
            }
            #movieList{
                -ms-overflow-style: none;
                width: 100%; 
                height: 700px; 
                overflow: auto; 
            }
            #movieList::-webkit-scrollbar{
                display:none; 
            }
        </style>
    </head>

    <body>
        <a href="{% url 'rank' %}">
            <img class="back" src="{% static 'img/leftarrow.png' %}">
        </a>
        <br><br>

        <div class="wrap">
            <p>{{ datas.movie_name }}</p>
            {% autoescape on %}
            <img src="{{ datas.img_url }}" width="600px" height="750px">
            {% endautoescape %}
            <hr class="line1">

            <!--요일날짜-->
            <table  style="width:60%; margin:auto; text-align: center">
                {% for date in datas.date %}
                    <td>    
                        
                        {% if date.day == '12' %}
                        <p class="day selected">{{ date.text }}<br> 
                        {% else %}
                        <p class="day">{{ date.text }}<br> 
                        {% endif %}
                            {{ date.day }}
                            <input type="button" name="movieList" class="day movieList_button" value="{{date.month_day}}" hidden/> 
                        </p> 
                        
                    </td>
                {% endfor %}
            </table>

        <hr>
            <div id="movieList">

        </div>
        
    </body>

    <!--ajax 통신 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

            $.ajax({
            url: "{% url 'find_moive_theater' %}?lat='{{ datas.lat }}'&lng='{{ datas.lng }}'&movie_name='{{ datas.movie_name }}'&date=2021{{ datas.date.0.month_day }}",
            name: $('.movieList_button').val(),
            tags: $('.movieList_button').val(),
            dataType: "json",

            success: function(data) {
                var movieListsAPI = "";
                movieListsAPI +="<table class= 'data'>"
                for (var i = 0; i < data.theater_info.length; i++) {
                    // var movieLists = data.theater_info[i].MoiveLists
                    var movieLists = data.theater_info[i].MoiveLists;
                    for (var j =0 ; j <movieLists.length; j ++){
                        for (var k=0; k< movieLists[j].length; k++){
                            movieListsAPI += "<tr>";
                            movieListsAPI += "<td rowspan='2'>";
                            if (data.theater_info[i].TheaterName.includes('CGV')){
                                movieListsAPI += "<img src='{% static 'img/cgv.png' %}' width='80px' height='80px' style='margin: 20px 30px'>";
                            }
                            else {
                                movieListsAPI += "<img src='{% static 'img/lotte.png' %}' width='80px' height='80px' style='margin: 20px 30px'>";
                            }
                            movieListsAPI += "</td>";
                            movieListsAPI += "<td class='timetable' rowspan='2' style='font-size: 50px;'>" + movieLists[j][k].StartTime + "</td>";
                            movieListsAPI += "<td style='font-size: 30px; text-align: right;'>" + data.theater_info[i].TheaterName + "</td>";
                            movieListsAPI += "</tr>";
                            movieListsAPI += "<tr>";
                            movieListsAPI += "<td style='font-size: 30px; text-align: right;'>"+ movieLists[j][k].RemainingSeat+ " / " + movieLists[j][k].TotalSeatCount + "</td>";
                            movieListsAPI += "</tr>";
                        }
                    }
                }
                movieListsAPI += "</table>";
                $('[id="movieList"]').html(movieListsAPI);
                if( $('.data').is(':empty') ) {
                    movieListEmpty = "<div class='movieList_empty'> 상영 중인 영화관이 없습니다.</div>";
                    $('[id="movieList"]').html(movieListEmpty);
                }
            },
            error: function (request, status, error) {
                console.log('실패');
            }
        });

        
        var movieListFunc = function (){
            
        }
        
        $(".day").click(function(){
            search_date = $(this).find('.movieList_button').val();
            if( !$(this).hasClass('selected')){
                $(".day").removeClass('selected');
                $(this).toggleClass('selected');
            }
            $.ajax({
                url: "{% url 'find_moive_theater' %}?lat='{{ datas.lat }}'&lng='{{ datas.lng }}'&movie_name='{{ datas.movie_name }}'&date=2021"+search_date,
                name: search_date,
                tags: search_date,
                dataType: "json",
                success: function(data) {
                    var movieListsAPI = "";
                    movieListsAPI +="<table class= 'data'>"
                    for (var i = 0; i < data.theater_info.length; i++) {
                        // var movieLists = data.theater_info[i].MoiveLists
                        var movieLists = data.theater_info[i].MoiveLists;
                        for (var j =0 ; j <movieLists.length; j ++){
                            for (var k=0; k< movieLists[j].length; k++){
                                movieListsAPI += "<tr>";
                                movieListsAPI += "<td rowspan='2'>";
                                if (data.theater_info[i].TheaterName.includes('CGV')){
                                    movieListsAPI += "<img src='{% static 'img/cgv.png' %}' width='80px' height='80px' style='margin: 20px 30px'>";
                                }
                                else {
                                    movieListsAPI += "<img src='{% static 'img/lotte.png' %}' width='80px' height='80px' style='margin: 20px 30px'>";
                                }
                                movieListsAPI += "</td>";
                                movieListsAPI += "<td class='timetable' rowspan='2' style='font-size: 50px;'>" + movieLists[j][k].StartTime + "</td>";
                                movieListsAPI += "<td style='font-size: 30px; text-align: right;'>" + data.theater_info[i].TheaterName + "</td>";
                                movieListsAPI += "</tr>";
                                movieListsAPI += "<tr>";
                                movieListsAPI += "<td style='font-size: 30px; text-align: right;'>"+ movieLists[j][k].RemainingSeat+ " / " + movieLists[j][k].TotalSeatCount + "</td>";
                                movieListsAPI += "</tr>";
                            }
                        }
                    }
                    movieListsAPI += "</table>";
                    $('[id="movieList"]').html(movieListsAPI);
                    if( $('.data').is(':empty') ) {
                    movieListEmpty = "<div class='movieList_empty'> 상영 중인 영화관이 없습니다.</div>";
                    $('[id="movieList"]').html(movieListEmpty);
                }
                }
            });
        });

    </script>
{% endblock content %}


